absl-py==0.13.0
addict==2.4.0
alabaster==0.7.12
albumentations==1.0.3
apex==0.1
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.4.1
attrs==21.2.0
audioread==2.1.9
Babel==2.9.1
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1601745390275/work
bleach==4.0.0
blis @ file:///home/conda/feedstock_root/build_artifacts/cython-blis_1607338147605/work
brotlipy==0.7.0
cachetools==4.2.2
catalogue @ file:///home/conda/feedstock_root/build_artifacts/catalogue_1619778554042/work
certifi==2021.5.30
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1625835293160/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1610093490430/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1626371162869/work
click==7.1.2
codecov==2.1.12
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
conda==4.10.3
conda-build==3.21.4
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1618231394280/work
coverage==5.5
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1616851476134/work
cycler==0.10.0
cymem @ file:///home/conda/feedstock_root/build_artifacts/cymem_1625012228281/work
Cython==0.29.24
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy==1.4.1
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1621187651333/work
defusedxml==0.7.1
Django==3.2.5
docutils==0.16
entrypoints==0.3
expecttest==0.1.3
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
flake8==3.7.9
Flask==2.0.1
future==0.18.2
glob2==0.7
google-auth==1.34.0
google-auth-oauthlib==0.4.5
graphsurgeon @ file:///workspace/TensorRT-8.0.1.6/graphsurgeon/graphsurgeon-0.4.5-py2.py3-none-any.whl
graphviz==0.17
grpcio==1.39.0
gunicorn==20.1.0
h11==0.12.0
httptools==0.2.0
hypothesis==4.50.8
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
imageio==2.9.0
imagesize==1.2.0
iniconfig==1.1.1
iopath==0.1.9
ipykernel==6.2.0
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1627911641747/work
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1610146791023/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-tensorboard @ git+https://github.com/cliffwoolley/jupyter_tensorboard.git@ffa7e26138b82549453306e06b535a9ac36db17a
jupyterlab==2.3.1
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupytext==1.11.4
kiwisolver==1.3.1
libarchive-c @ file:///home/conda/feedstock_root/build_artifacts/python-libarchive-c_1622603311319/work/dist
librosa==0.8.1
llvmlite==0.35.0
lmdb==1.2.1
Markdown==3.3.4
markdown-it-py==1.1.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1621455677251/work
matplotlib==3.4.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1618935594181/work
mccabe==0.6.1
mdit-py-plugins==0.2.8
mistune==0.8.4
mmcv==1.3.12
mock @ file:///home/conda/feedstock_root/build_artifacts/mock_1610094566888/work
murmurhash @ file:///home/conda/feedstock_root/build_artifacts/murmurhash_1607334246442/work
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.0
nltk==3.6.2
notebook==6.2.0
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1607010260266/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1629092056723/work
nvidia-dali-cuda110==1.4.0
nvidia-dlprof-pytorch-nvtx @ file:///nvidia/opt/dlprof/bin/nvidia_dlprof_pytorch_nvtx-1.4.0-py3-none-any.whl
nvidia-dlprofviewer @ file:///opt/dlprof_viewer_install/nvidia_dlprofviewer-1.4.0-py3-none-any.whl
oauthlib==3.1.1
onnx @ file:///opt/pytorch/pytorch/third_party/onnx
opencv-python-headless==4.5.3.56
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandocfilters==1.4.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1617148930513/work
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1624897245984/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///tmp/pillow-simd
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1625854086923/work
pluggy==0.13.1
polygraphy==0.32.0
pooch==1.4.0
portalocker==2.3.0
preshed @ file:///home/conda/feedstock_root/build_artifacts/preshed_1625048871810/work
prettytable==2.1.0
prometheus-client==0.11.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1623977816122/work
protobuf==3.17.3
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1610127095720/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.7.1
pycocotools @ git+https://github.com/nvidia/cocoapi.git@9a47a76980d02f70a371e12d4fad61f644a209f1#subdirectory=PythonAPI
pycodestyle==2.5.0
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1610094800877/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1620819961022/work
pydot==1.4.2
pyflakes==2.1.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1629119114968/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1610291447907/work
pytest==6.2.4
pytest-cov==2.12.1
pytest-pythonpath==0.7.3
python-dateutil==2.8.2
python-dotenv==0.19.0
python-hostlist==1.21
python-nvd3==0.15.0
python-slugify==5.0.2
pytorch-quantization==2.1.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.2.1
regex==2021.8.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
requests-oauthlib==1.3.0
resampy==0.2.2
revtok @ git+git://github.com/jekbradbury/revtok.git@f1998b72a941d1e5f9578a66dc1c20b01913caab
rsa==4.7.2
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1611943339799/work
sacremoses==0.0.45
scikit-image==0.18.3
scikit-learn==0.24.2
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1619561901336/work
Send2Trash==1.8.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1612179560728/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1623731621217/work
snowballstemmer==2.1.0
SoundFile==0.10.3.post1
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1597680516047/work
spacy @ file:///home/conda/feedstock_root/build_artifacts/spacy_1626856035972/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1625687473390/work
Sphinx==4.1.2
sphinx-glpi-theme==0.3
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.1
srsly @ file:///home/conda/feedstock_root/build_artifacts/srsly_1618231649431/work
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorrt @ file:///workspace/TensorRT-8.0.1.6/python/tensorrt-8.0.1.6-cp38-none-linux_x86_64.whl
terminado==0.11.0
testpath==0.5.0
text-unidecode==1.3
thinc @ file:///home/conda/feedstock_root/build_artifacts/thinc_1626699893620/work
threadpoolctl==2.2.0
tifffile==2021.8.30
timm==0.4.12
toml==0.10.2
torch==1.10.0a0+3fd9dcf
torchtext @ file:///opt/pytorch/text
torchvision @ file:///opt/pytorch/vision
torchviz==0.0.2
tornado==6.1
tqdm==4.62.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1609874382867/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
uff @ file:///workspace/TensorRT-8.0.1.6/uff/uff-0.6.9-py2.py3-none-any.whl
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1624634538755/work
uvicorn==0.15.0
uvloop==0.16.0
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1612156086016/work
watchgod==0.7
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websockets==9.1
Werkzeug==2.0.1
whitenoise==5.3.0
yacs==0.1.8
yapf==0.31.0
